* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 /* common */
 /* font  */
body{
    font-family: 'Lato', sans-serif;
}

ul{
    list-style-type: none;
}

.lista-padre, li {
    display: flex;
}
 /* common */



/* container principali */
.container-bkg {
    height: 100vh;
    background: linear-gradient(to top, rgb(216, 219, 213) 80%, rgb(0, 150, 136) 10%);
    position: relative;
}

.container-Box-Wa {
    background-color: lightgray;
    height: 80%;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    display: flex;
}
/* container principali */

 


/* sezioni di colonna left */
.col-left {
    background-color: rgba(234,234,234,255);
    width: 30%;
    height: 100%;
    border-right: solid lightgrey 1px;
}  

.section-one-left,
.section-two-left {
    background-color:rgb(241, 241, 241);
    height: 10%;
}

.section-two-left{
    background-color: hsl(199, 95%, 77%);
}
/* sezioni di colonna left */



/* input element */
.input-text-left {
    padding: 3px;
}

.insert {
    border-radius: 2px;
    border: none;
    width: 100%;
    padding: 5px;
    font-size: 10px;
    color: grey;
}
/* input element */
/* sezioni di colonna left */




/* sezioni di colonna right */
.col-right{
    background-color: rgba(234,234,234,255);
    width: 70%;
    height: 100%;
}

.header-col-right{
     height: 10%;
     background-color:rgb(241, 241, 241);
}

.img-col-right {
   background-image: url('../img/mine.jpg');
   background-repeat: repeat;
   background-size: 60%;
   width: 100%;
   height: 80%;
}

.footer-col-right {
    height: 10%;
}
/* sezioni di colonna right */




/* sezione img avatar */
.img-avatar, .name-avatar {
    width: 15%;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 50%;
}