* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 /* common */
 /* font  */
body{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

ul{
    list-style-type: none;
}

.lista-padre, li {
    display: flex;
    /* align-items: center; */
}





/* container principali */
.container-bkg {
    height: 100vh;
    background: linear-gradient(to top, rgb(216, 219, 213) 80%, rgb(0, 150, 136) 10%);
    position: relative;
}

.container-Box-Wa {
    background-color: lightgray;
    height: 80%;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    display: flex;
}
/* container principali */

 



/* colonna left */
.lista {
    background-color: white; 
    height: calc(100% - 140px);
    overflow-y: scroll;
}

.col-left {
    background-color: #f1f1f1;
    width: 30%;
    height: 100%;
    border-right: solid lightgrey 1px;
}  

.section-one-left,
.section-campana-left {
    background-color:rgb(241, 241, 241);
    height: 50px;
    display: flex;
}

.section-header-left {
    display: flex;
    justify-content:space-between
}



/* sezione img avatar */
.img-avatar, .name-avatar {
    width: 15%;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* --------------------------------- */
.avatar-io {
    height: 45px;
    border-radius: 50%;
    display: flex;
}

.nome-utente {
    display: flex;
    align-items: center;
}

/* --------------------------------- */
.section-campana-left{
    display: flex;
    background-color: hsl(199, 95%, 77%);
}

.ricevi-notifiche {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 15px;
}

.attiva-notificheP{
     padding-left: 8px;
     color: grey;
}
/* --------------------------------- */

.img-avatar-michele, .header-right-icon {
    width: 45px;
    display: flex;
    border-radius: 50%;
    padding-left: 5px;
}

.nome-michele {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.circle-nome-utente{
    margin: 15px;
}

.icon-nome-utente {
    color: rgb(191, 191, 191);
    display: flex;
    align-items: center;
    font-size: 15px;
}

.bell-white {
    color: hsl(199, 95%, 77%);
    border-radius: 100%;
    margin-left: 6px;
    margin-top: 8px;
    font-size: 14px;
}

.square-circle {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}
/* sezione img avatar */
/* colonna left */




/* input element */
.input-cerca-left, 
.input-footer {
    padding: 5px;
    display: flex;
    position: relative;
}

.input-cerca-left {
    height: 40px;
}

.lente-avatar{
    position: absolute;
    color: lightgray;
    font-size: 10px;
    top: 15px;
    left: 20px;
}

.input-footer {
     width: 80%;
}

.insert, .insert-footer{
    border-radius: 4px;
    width: 100%;
    padding: 12px;
    font-size: 10px;
    border: none;
    color: grey;
}

.insert-footer{
    padding: 10px;
}
/* input element */
/* colonna left */






/* colonna right */
.col-right{
    background-color: rgba(234,234,234,255);
    width: 70%;
    height: 100%;
}

/* header avata michele destro */
.header-col-right{
     height: 50px;
     background-color:rgb(241, 241, 241);
     display: flex;
     justify-content: space-between;
     align-items: center;
     color:lightgray
}



/* section message */
.box-right-message {
   background-image: url('../img/mine.jpg');
   /* background-repeat: repeat; */
   background-size: 50%;
   width: 100%;
   height: 100%;
   height: calc(100% - 100px);
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   padding: 50px;
}



.msg {
    background: rgb(213, 249, 186);
    margin-top: 8px;
    margin-left: 60%;
    border-radius: 5px;
}

.msg-sent {
    background: white;
    margin-right: 60%;
    border-radius: 5px;
}

.msg-text {
    font-weight: bold;
    padding-top: 8px;
    margin-left: 8px;

}

.msg-date {
    font-size: 6px;
    color: rgb(169, 169, 169);
    text-align: right;
    padding-right: 2px;
    padding-bottom: 2px;
}



/* footer section right */
.footer-col-right {
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.smile-left-footer {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 18px;
    margin-left: 15px;
}

.micro-left-footer {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 18px;
    margin-right: 15px;
}
/* footer section right */
/* colonna right */




