* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/* formato data */
/* dayjs().format('DD/MM/YYYY HH:mm:ss') */



 /* common */
 /* font  */
body {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

ul {
    list-style-type: none;
}

.lista-padre, li {
    display: flex;
    /* align-items: center; */
}





/* container principali */
.container-bkg {
    height: 100vh;
    background: linear-gradient(to top, rgb(216, 219, 213) 80%, rgb(0, 150, 136) 10%);
    position: relative;
}

.container-Box-Wa {
    background-color: lightgray;
    height: 80%;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    display: flex;
}
/* container principali */




/* colonna left */
.lista {
    background-color: white; 
    height: calc(100% - 140px);
    overflow-y: scroll;
}

.contacts li.active, li {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(167, 228, 252)
}

.active {
    background: rgb(230, 230, 230);
}



.col-left {
    background-color: #ececec;
    width: 30%;
    height: 100%;
    border-right: solid lightgrey 1px;
}  

.section-header-left,
.section-campana-left {
    background:rgb(235, 235, 235);
    height: 50px;
    display: flex;
}

.section-header-left {
    display: flex;
    justify-content:space-between
}


/* sezione img avatar */
.img-avatar, .name-avatar {
    width: 15%;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
}
/* --------------------------------- */
.avatar-io {
    height: 40px;
    border-radius: 50%;
    display: flex;
    margin-left: 3px;
    margin-top: 3px;
}

.nome-utente {
    display: flex;
    align-items: center;
}
/* --------------------------------- */
.section-campana-left {
    display: flex;
    background: hsl(199, 95%, 77%);
}

.ricevi-notifiche {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 15px;
}

.attiva-notificheP {
     padding-left: 8px;
     color: grey;
}
/* --------------------------------- */
.principale {
    display: flex;
    align-items: center;
}

.img-avatar-michele {
    height: 40px;
    border-radius: 50%;
    display: flex;
    margin-left: 3px;
    margin-top: 3px;
}

.nome-michele {
    color: rgb(0, 0, 0);
    margin-top: 5px;
    padding-left: 10px;
}

.ultimo-accesso{
    display: flex;
    color: gray;
    margin-top: 2px;
    padding-left: 10px;
}
/* --------------------------------- */

.circle-nome-utente {
    margin: 15px;
}

.icon-nome-utente {
    color: rgb(191, 191, 191);
    display: flex;
    align-items: center;
    font-size: 15px;
}

.bell-white {
    color: hsl(199, 95%, 77%);
    border-radius: 100%;
    margin-left: 6px;
    margin-top: 8px;
    font-size: 14px;
    cursor: pointer;
}

.square-circle {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}
/* colonna left */



/* colonna right */
.col-right { 
    background-color: rgba(234,234,234,255);
    width: 70%;
    height: 100%;
}

/* header avata michele destro */
.header-col-right {
    height: 50px;
    background-color:rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    color:lightgray;
    align-items: center;
}





/* section message */
.box-right-message {
   background-image: url('../img/mine.jpg');
   background-size: 50%;
   width: 100%;
   height: calc(100% - 100px);
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   font-weight: bold;
}



/* debug balloon text messaggi di invio personale a destra */
.msg-inviati-verdi{
    background: rgb(213, 249, 186);
    margin-left: 55%;
}

.msg-ricevuti-bianchi {
    background: white;
    margin-left: 5%;
}

.msg-inviati-verdi, .msg-ricevuti-bianchi {
    margin-top: 10px;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    word-break: break-all;
    font-weight: bold;
}

.msg-date {
    font-size: 8px;
    color: rgb(7, 160, 88);
    text-align: right;
    position: relative;
    top: 5px;
    left: 5px;
}
/* section message */



/* footer section right */
.footer-col-right {
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.smile-left-footer {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
}

.micro-left-footer {
    display: flex;
    align-items: center;
    color: grey;
    font-size: 18px;
    margin-right: 15px;
}

/* input element */
.input-cerca-left, 
.input-footer {
    padding: 7px;
    display: flex;
    position: relative;
}

.input-cerca-left {
    height: 40px;
    background: rgb(243, 243, 243);
}

.lente-avatar { 
    position: absolute;
    color: lightgray;
    font-size: 10px;
    top: 15px;
    left: 20px;
}

.input-footer {
     width: 80%;
}

.insert, .insert-footer {
    border-radius: 4px;
    width: 100%;
    padding: 12px;
    font-size: 10px;
    border: none;
    color: grey;
}

.insert-footer {
    padding: 10px;
}
/* input element */
/* footer section right */
/* colonna right */




