<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- simboli font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- simboli font-awesome -->
    <!-- bootstrap CSS-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- bootstrap CSS-->
    <!-- font google lato-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet">
    <!-- font google lato -->
    <!-- style.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- style.css -->
    <title>Vue Boolzapp</title>
</head>
<body>
    <div id="root">
                    <!-- container principali -->
        <div class="container-bkg">
            <div class="container-Box-Wa">
                    <!-- container principali -->

                    <!-- sezioni di colonna left  -->
                <div class="col-left">

                    <div class="section-header-left">

                        <div  class="avatar-io"> 
                            <img class="avatar-io" src="img//avatar_io.jpg" alt="">
                            <h4 class="nome-utente">Nome Utente</h4>
                        </div>
                        
                        <div class="icon-nome-utente">
                            <i class="fas fa-circle-notch circle-nome-utente"></i>
                            <i class="fas fa-comment-alt balun-nome-utente"></i>
                            <i class="fas fa-ellipsis-v circle-nome-utente"></i>
                        </div>
                    </div>
                   
                    <div class="section-campana-left">
                        <span class="square-circle"><i class="fas fa-bell-slash bell-white"></i></span>
                        <div>
                            <h4 class="ricevi-notifiche">Ricevi notifiche di nuovi messaggi</h4>
                            <h5 class="attiva-notificheP"><a href="#">attiva notifiche desktop</a></h5>
                        </div>
                    </div>
                    
                    <div class="input-cerca-left">
                        <input class="insert"  type="text" placeholder=
                        "          Cerca ho inizia una nuova chat">
                        <i class="fas fa-search lente-avatar"></i>
                    </div>
                    <div class="lista">
                        <ul class="avatar-left">
                    <!-- ciclo v-for -->
                            <li  v-for="(contact, index) in contacts"  

                            :key="index"   

                            :class="index == 0 ? 'active' : null"  

                            @click="indexCurrentContact = index">

                                <img class="img-avatar"  :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                                <h4 class="name-avatar">{{contact.name}}</h4>
                            </li>
                            <li class="lista-padre"></li>
                        </ul>
                    </div>
                </div>
                    <!-- sezioni di colonna left  -->

                    <!-- sezioni di colonna right  -->
                <div class="col-right">
                    

                    <div class="header-col-right">
                        <div class="header-right-icon">
                            <div class="principale">
                                <img class="img-avatar-michele" 
                                :src="`img/avatar${contacts[indexCurrentContact].avatar}.jpg`" 

                                :alt="contacts[indexCurrentContact]">

                                <h4 class="nome-michele">Michele</h4>
                                <!-- <h6 class="ultimo-accesso ">Ultimo accesso oggi alle</h6> -->
                            </div>
                        </div>

                        <div class="icon-nome-utente">
                            <i class="fas fa-search circle-nome-utente"></i>
                            <i class="fas fa-paperclip balun-nome-utente"></i>
                            <i class="fas fa-ellipsis-v  circle-nome-utente"></i>
                        </div>
                    </div>  

                    <!--section messagge -->
                    <div class="box-right-message">
                    <!-- ciclo v-for -->
                        <div class="msg"    
                        v-for="(message, index) in contacts[indexCurrentContact].messages"    
                        
                        :class="message.status"    
                        
                        :key="index" >
                        
                            <div class="msg-text" >
                                {{message.message}}
                                <div class="msg-date">{{message.date}}</div>
                            </div>
                        </div>

                    <!-- :class="message.status = sent ? 'msg-text' : 'msg-sent' " -->


                        <div class="msg-sent">
                            <div class="msg-text">
                                ciao !!!
                                <div class="msg-date">15/03/2015 17:00:15</div>
                            </div>
                        </div>
                        
                    </div> 
                    <!--section messagge -->


                    <div class="footer-col-right">
                        <i class="far fa-smile smile-left-footer"></i>
                        <div class="input-text-left input-footer">
                            <input   @keyup.enter="addMsg"   class="insert-footer" type="text" placeholder=" Scrivi un messaggio">
                        </div>
                        <i class="fas fa-microphone micro-left-footer"></i>
                    </div>
                </div>
                    <!-- sezioni di colonna right  -->

            </div>
        </div>
    </div>
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /vue js -->
    <script src="js/scripts.js"></script>
</body>
</html>